<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.tami.vmanager">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--写入SD卡的权限：如果你希望保存相机拍照后的照片-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--读取SD卡的权限:打开相册选取图片所必须的权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions"/>

    <!-- Required -->
    <permission
        android:name="com.tami.vmanager.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.tami.vmanager.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".application.TaMiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.GuidePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--    登录页   -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <!--    忘记密码    -->
        <activity
            android:name=".activity.ForgetThePasswordActivity"
            android:screenOrientation="portrait"/>
        <!--    主页面    -->
        <activity
            android:name=".activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--    搜索功能    -->
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <!--搜索详情页-->
        <activity
            android:name=".activity.SearchDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--    首页的创建会议    -->
        <activity
            android:name=".activity.CreateMeetingActivity"
            android:screenOrientation="portrait"/>
        <!--    会议概览    -->
        <activity
            android:name=".activity.MeetingOverviewActivity"
            android:screenOrientation="portrait"/>
        <!--    会议服务内容流程    -->
        <activity
            android:name=".activity.ConferenceServiceContentActivity"
            android:screenOrientation="portrait"/>
        <!--    会议流程    -->
        <activity
            android:name=".activity.MeetingFlowActivity"
            android:screenOrientation="portrait"/>
        <!--    会议流程编辑    -->
        <activity
            android:name=".activity.MeetingFlowEditActivity"
            android:screenOrientation="portrait"/>
        <!--    会议环节待确认    -->
        <activity
            android:name=".activity.MeetingLinkConfirmedActivity"
            android:screenOrientation="portrait"/>
        <!--    会议服务群    -->
        <activity
            android:name=".activity.ConferenceServiceGroupActivity"
            android:screenOrientation="portrait"/>
        <!--    进入会议    -->
        <activity
            android:name=".activity.EnterMeetingActivity"
            android:screenOrientation="portrait"/>
        <!--    进入会议    -->
        <activity
            android:name=".activity.SponsorMemberActivity"
            android:screenOrientation="portrait"/>
        <!--    帐号设置    -->
        <activity
            android:name=".activity.AccountSettingsActivity"
            android:screenOrientation="portrait"/>
        <!--    图片裁剪    -->
        <activity
            android:name=".activity.ClipPictureActivity"
            android:screenOrientation="portrait"/>
        <!--    创建会议与服务流程    -->
        <activity
            android:name=".activity.CreateMeetingAndServiceActivity"
            android:screenOrientation="portrait"/>
        <!--    创建会议    -->
        <activity
            android:name=".activity.CreateMeetingRewriteActivity"
            android:screenOrientation="portrait"/>
        <!--    创建服务流程    -->
        <activity
            android:name=".activity.CreateServiceFlowActivity"
            android:screenOrientation="portrait"/>
        <!--    今日会议    -->
        <activity
            android:name=".activity.TodayMeetingActivity"
            android:screenOrientation="portrait"/>
        <!--    我的关注    -->
        <activity
            android:name=".activity.FollowMeetingsActivity"
            android:screenOrientation="portrait"/>
        <!--    待办会议    -->
        <activity
            android:name=".activity.WaitMeetingsActivity"
            android:screenOrientation="portrait"/>
        <!--    会议地点选择    -->
        <activity
            android:name=".activity.MeetingPlaceSelectActivity"
            android:screenOrientation="portrait"/>
        <!--    添加VIP人物介绍    -->
        <activity
            android:name=".activity.VIPPersonageIntroductionActivity"
            android:screenOrientation="portrait"/>
        <!--    小V提醒    -->
        <activity
            android:name=".activity.SmallVRemindingActivity"
            android:screenOrientation="portrait"/>
        <!--    意见箱    -->
        <activity
            android:name=".activity.IdeasBoxActivity"
            android:screenOrientation="portrait"/>
        <!--    需求变化 活动变化   -->
        <activity
            android:name=".activity.ChangeDemandActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!--    添加接待人    -->
        <activity
            android:name=".activity.AddReceptionistActivity"
            android:screenOrientation="portrait"/>
        <!--    我的创建    -->
        <activity
            android:name=".activity.MyCreateActivity"
            android:screenOrientation="portrait"/>
        <!--    更改密码    -->
        <activity
            android:name=".activity.ModifyPasswordActivity"
            android:screenOrientation="portrait"/>
        <!--    查看EO单    -->
        <activity
            android:name=".activity.LookEOActivity"
            android:screenOrientation="portrait"/>
        <!--    人员名单    -->
        <activity
            android:name=".activity.PersonnelListActivity"
            android:screenOrientation="portrait"/>
        <!--    添加负责人    -->
        <activity
            android:name=".activity.AddPersonChargeActivty"
            android:screenOrientation="portrait"/>
        <!--    VIP详情    -->
        <activity
            android:name=".activity.VIPDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VipMessageActivity"
            android:screenOrientation="portrait"/>
        <!--    群成员    -->
        <activity
            android:name=".activity.GroupMembersActivty"
            android:screenOrientation="portrait"/>
        <!--    群公告    -->
        <activity
            android:name=".activity.GroupNoticeActivity"
            android:screenOrientation="portrait"/>
        <!--VIP 搜索-->
        <activity
            android:name=".activity.SearchVipActivity"
            android:screenOrientation="portrait"/>
        <!--发布公告-->
        <activity
            android:name=".activity.GroupEditNoticeActivity"
            android:screenOrientation="portrait"/>
        <!--全部群成员-->
        <activity
            android:name=".activity.GroupMembersAllActivity"
            android:screenOrientation="portrait"/>

        <!--修改会议-->
        <activity
            android:name=".activity.ModifyMeetingActivity"
            android:screenOrientation="portrait"/>

        <!--会议服务流程单-->
        <activity
            android:name=".activity.ConferenceServiceFlowActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tami.vmanager.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name="pub.devrel.easypermissions.AppSettingsDialogHolderActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/EasyPermissions.Transparent"/>


        <!--极光推送-->
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.tami.vmanager"/>
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.tami.vmanager"/>
            </intent-filter>
        </activity>
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.tami.vmanager.DataProvider"
            android:exported="false"
            />
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>
                <category android:name="com.tami.vmanager"/>
            </intent-filter>

        </service>
        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.tami.vmanager.DownloadProvider"
            android:exported="true"
            />
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>   <!--Required  显示通知栏 -->
                <category android:name="com.tami.vmanager"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service>
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="3da91343a0089af98125d6d4"/> <!--  </>值来自开发者平台取得的AppKey-->
        <!--适配全面屏-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

    </application>

</manifest>